<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>SaveClanServlet</servlet-name>
  	<display-name>SaveClanServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.SaveClanServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SaveFilmServlet</servlet-name>
  	<display-name>SaveFilmServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.SaveFilmServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SaveSerijaServlet</servlet-name>
  	<display-name>SaveSerijaServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.SaveSerijaServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetClanZaImePrezime</servlet-name>
  	<display-name>GetClanZaImePrezime</display-name>
  	<description></description>
  	<servlet-class>servlets.GetClanZaImePrezime</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetClanZaId</servlet-name>
  	<display-name>GetClanZaId</display-name>
  	<description></description>
  	<servlet-class>servlets.GetClanZaId</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PretragaClanaPoId</servlet-name>
  	<display-name>PretragaClanaPoId</display-name>
  	<description></description>
  	<servlet-class>PretragaClanaPoId</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetClanZaKategorijuDatumUpisa</servlet-name>
  	<display-name>GetClanZaKategorijuDatumUpisa</display-name>
  	<description></description>
  	<servlet-class>servlets.GetClanZaKategorijuDatumUpisa</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetFilmZaId</servlet-name>
  	<display-name>GetFilmZaId</display-name>
  	<description></description>
  	<servlet-class>servlets.GetFilmZaId</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetSerijaZaId</servlet-name>
  	<display-name>GetSerijaZaId</display-name>
  	<description></description>
  	<servlet-class>servlets.GetSerijaZaId</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetFilmZaNaslov</servlet-name>
  	<display-name>GetFilmZaNaslov</display-name>
  	<description></description>
  	<servlet-class>servlets.GetFilmZaNaslov</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetSerijaZaNaslov</servlet-name>
  	<display-name>GetSerijaZaNaslov</display-name>
  	<description></description>
  	<servlet-class>servlets.GetSerijaZaNaslov</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetClanZaKategorijuIDatumUpisa</servlet-name>
  	<display-name>GetClanZaKategorijuIDatumUpisa</display-name>
  	<description></description>
  	<servlet-class>beans.GetClanZaKategorijuIDatumUpisa</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetClanKategorijaDatum</servlet-name>
  	<display-name>GetClanKategorijaDatum</display-name>
  	<description></description>
  	<servlet-class>servlets.GetClanKategorijaDatum</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetClanoveZaKategoriju</servlet-name>
  	<display-name>GetClanoveZaKategoriju</display-name>
  	<description></description>
  	<servlet-class>servlets.GetClanoveZaKategoriju</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>azurirajSeriju</servlet-name>
  	<display-name>azurirajSeriju</display-name>
  	<description></description>
  	<servlet-class>servlets.azurirajSeriju</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>azurirajFilm</servlet-name>
  	<display-name>azurirajFilm</display-name>
  	<description></description>
  	<servlet-class>servlets.azurirajFilm</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ZaduzenjeFilmaServlet</servlet-name>
  	<display-name>ZaduzenjeFilmaServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.ZaduzenjeFilmaServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ZaduzenjeSerijeServlet</servlet-name>
  	<display-name>ZaduzenjeSerijeServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.ZaduzenjeSerijeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RazduziFilmServlet</servlet-name>
  	<display-name>RazduziFilmServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.RazduziFilmServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RazduziSerijuServlet</servlet-name>
  	<display-name>RazduziSerijuServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.RazduziSerijuServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PrikaziZaduzenjaFilmovaZaClanaServlet</servlet-name>
  	<display-name>PrikaziZaduzenjaFilmovaZaClanaServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.PrikaziZaduzenjaFilmovaZaClanaServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PrikazZaduzenjaSerijaServlet</servlet-name>
  	<display-name>PrikazZaduzenjaSerijaServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.PrikazZaduzenjaSerijaServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogOffServlet</servlet-name>
  	<display-name>LogOffServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.LogOffServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>izbrisiClanaServlet</servlet-name>
  	<display-name>izbrisiClanaServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.izbrisiClanaServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReportServlet</servlet-name>
  	<display-name>ReportServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.ReportServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReportServletFilm</servlet-name>
  	<display-name>ReportServletFilm</display-name>
  	<description></description>
  	<servlet-class>servlets.ReportServletFilm</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReportServletSerija</servlet-name>
  	<display-name>ReportServletSerija</display-name>
  	<description></description>
  	<servlet-class>servlets.ReportServletSerija</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SaveClanServlet</servlet-name>
  	<url-pattern>/SaveClanServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SaveFilmServlet</servlet-name>
  	<url-pattern>/SaveFilmServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SaveSerijaServlet</servlet-name>
  	<url-pattern>/SaveSerijaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetClanZaImePrezime</servlet-name>
  	<url-pattern>/GetClanZaImePrezime</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetClanZaId</servlet-name>
  	<url-pattern>/GetClanZaId</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PretragaClanaPoId</servlet-name>
  	<url-pattern>/PretragaClanaPoId</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetClanZaKategorijuDatumUpisa</servlet-name>
  	<url-pattern>/GetClanZaKategorijuDatumUpisa</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetFilmZaId</servlet-name>
  	<url-pattern>/GetFilmZaId</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetSerijaZaId</servlet-name>
  	<url-pattern>/GetSerijaZaId</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetFilmZaNaslov</servlet-name>
  	<url-pattern>/GetFilmZaNaslov</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetSerijaZaNaslov</servlet-name>
  	<url-pattern>/GetSerijaZaNaslov</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetClanZaKategorijuIDatumUpisa</servlet-name>
  	<url-pattern>/GetClanZaKategorijuIDatumUpisa</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetClanKategorijaDatum</servlet-name>
  	<url-pattern>/GetClanKategorijaDatum</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetClanoveZaKategoriju</servlet-name>
  	<url-pattern>/GetClanoveZaKategoriju</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>azurirajSeriju</servlet-name>
  	<url-pattern>/azurirajSeriju</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>azurirajFilm</servlet-name>
  	<url-pattern>/azurirajFilm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ZaduzenjeFilmaServlet</servlet-name>
  	<url-pattern>/ZaduzenjeFilmaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ZaduzenjeSerijeServlet</servlet-name>
  	<url-pattern>/ZaduzenjeSerijeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RazduziFilmServlet</servlet-name>
  	<url-pattern>/RazduziFilmServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RazduziSerijuServlet</servlet-name>
  	<url-pattern>/RazduziSerijuServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PrikaziZaduzenjaFilmovaZaClanaServlet</servlet-name>
  	<url-pattern>/PrikaziZaduzenjaFilmovaZaClanaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PrikazZaduzenjaSerijaServlet</servlet-name>
  	<url-pattern>/PrikazZaduzenjaSerijaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogOffServlet</servlet-name>
  	<url-pattern>/LogOffServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>izbrisiClanaServlet</servlet-name>
  	<url-pattern>/izbrisiClanaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReportServlet</servlet-name>
  	<url-pattern>/ReportServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReportServletFilm</servlet-name>
  	<url-pattern>/ReportServletFilm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReportServletSerija</servlet-name>
  	<url-pattern>/ReportServletSerija</url-pattern>
  </servlet-mapping>
</web-app>
